@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #e2e2e2;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

img {
  display: block;
  width: 100%;
}

.main {
  background-color: white;
}

/* PHOTO & CAPTION */

.figure{
  display: block;
  margin: 0;
  padding: 0;

}

.figure img{
  border: solid white 1px;
  border-radius: 6px 6px 0 0;
}

.caption{
  display: inline-block;
  position: relative;
  bottom: 51px;
  background-color: rgba(0,0,0,0.4);
  color: white;
  font-family: georgia;
  font-size: 0.7 em;
  font-style: italic;
  padding: 0.1em;

}

/* TYPE */

.h1{
  font-size: 1.25em;
  color: #382613;
  margin-top: -1em;
}

.h2{
  color: #999;
  font-size: 1em;
  text-transform: uppercase;
}


/* COLUMNS */

.columns{
  width: 100%;
}

.col{
  width: 28%;
  margin: 0.5em;
  padding-left: 1em;
  border-left: solid 1px #ccc;
}

.col-left{
  float: left;
  border-left: 0;
  padding-left: 0;
}

.col-middle{
  float: left;
}

.col-right{
  float: right;
}
